.own-message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  justify-content: flex-end;
}

.message-info {
  background: #e4e6ff;
  padding: 5px 10px;
  border-radius: 10px;
}

.message-details {
  display: flex;
  width: 100%;
  gap: 5px;
}

.message-user-name {
  font-weight: 900;
}

.message-user-avatar {
  width: 40px;
  height: 40px;
}

.message-edit,
.message-delete {
  width: 20px;
  height: 20px;
}

.message-edit:hover,
.message-delete:hover {
  cursor: pointer;
}
