.user {
  display: flex;
  background-color: #fff;
  border: 2px solid #5363dd;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.edit-user-button,
.delete-user-button {
  padding: 5px;
  background: #5363dd;
  border: none;
  color: #fff;
  border-radius: 5px;
}
