.users-list {
  padding: 10px;
  margin: 20px;
  width: max-content;
}

.add-user-button {
  padding: 5px;
  background: #5363dd;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
}
