.message-list {
  position: relative;
  height: 50vh;
  background: #ffffff;
  overflow: scroll;
}

.messages-divider-wrapper {
  position: relative;
  height: fit-content;
  height: 40px;
}

.messages-divider {
  position: absolute;
  z-index: 10;
  background-color: #5b6efa;
  border: 1px solid #4f64fe;
  border-radius: 5px;
  padding: 1px 2px;
  color: #fff;
  text-transform: uppercase;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
}

.messages-divider-line {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #5b6efa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
