* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  background-color: rgb(237, 241, 213);
}

.app {
  margin-top: 10vh;
}
