.edit-message-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(104, 104, 104, 0.541);
  z-index: 100;
}
.modal-shown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5363dd;
  z-index: 100;
  padding: 30px;
}

.edit-message-title {
  text-align: center;
  color: #fff;
}

.edit-message-input {
  resize: none;
  padding: 10px;
}

.modal-control {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.edit-message-button,
.edit-message-close {
  background: #e4e6ff;
  border: none;
  padding: 0 10px;
  height: 30px;
}
