.header {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  justify-content: space-between;
  background-color: #5363dd;
}

.header-chat-info {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 5px;
}

.header-other-info {
  display: flex;
  align-items: center;
}

.header-title {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #e4e6ff;
  border-radius: 20px;
}

.header p {
  padding: 5px 15px;
  margin: 0 5px;
}

.header-other-info {
  background-color: #fff;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  .header-other-info {
    display: none;
  }
  .header-chat-info {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .header-chat-info {
    justify-content: space-between;
    margin: 10px 2px;
    padding: 0px;
  }

  .header p {
    padding: 5px 5px;
  }
}
