.login-container {
  background-color: #a2a7f0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  gap: 20px;
}

.login-login,
.login-password {
  padding: 10px;
  font-size: 17px;
}

.login-button {
  padding: 8px;
  font-size: 15px;
}
