.message-input {
  display: flex;
  background-color: #5363dd;
  align-items: center;
}

.message-input-text {
  width: 100%;
  margin: 10px;
  height: 30px;
  padding: 0px 10px;
}

.message-input-button {
  margin: 10px;
  margin-left: 5px;
  background: #e4e6ff;
  border: none;
  padding: 0 10px;
  height: 30px;
}
.message-input-button:hover {
  cursor: pointer;
}
